/* PP Mori Font Family */
@font-face {
	font-family: 'PP Mori';
	src: url('/src/assets/Fonts/PPMori-Extralight.otf') format('opentype');
	font-weight: 200;
	font-style: normal;
}

@font-face {
	font-family: 'PP Mori';
	src: url('/src/assets/Fonts/PPMori-ExtralightItalic.otf') format('opentype');
	font-weight: 200;
	font-style: italic;
}

@font-face {
	font-family: 'PP Mori';
	src: url('/src/assets/Fonts/PPMori-Regular.otf') format('opentype');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'PP Mori';
	src: url('/src/assets/Fonts/PPMori-RegularItalic.otf') format('opentype');
	font-weight: 400;
	font-style: italic;
}

@font-face {
	font-family: 'PP Mori';
	src: url('/src/assets/Fonts/PPMori-Semibold.otf') format('opentype');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'PP Mori';
	src: url('/src/assets/Fonts/PPMori-SemiboldItalic.otf') format('opentype');
	font-weight: 600;
	font-style: italic;
}

@font-face {
	font-family: 'PP Mori';
	src: url('/src/assets/Fonts/PPMori-Black.otf') format('opentype');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'PP Mori';
	src: url('/src/assets/Fonts/PPMori-BlackItalic.otf') format('opentype');
	font-weight: 900;
	font-style: italic;
}

/* CSS Variables */
:root {
	--font-family: 'PP Mori', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Helvetica Neue', Arial, sans-serif;
	--font-size: 0.8rem;
	--font-size-small: 1rem;
	--font-size-medium: 1.2rem;
	--font-size-large: 4rem;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	cursor: url('/src/assets/Background/maria_grazia_mattei2 copy.png'), auto;
	mix-blend-mode: difference;
}

body {
	width: 100vw;
	height: 100vh;
	background: #000000;
	font-family: var(--font-family);
}

body::before {
	content: '';
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #ffffff;
	z-index: -1;
}

/* Custom cursor */
#custom-cursor {
	position: fixed;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: rgb(255, 255, 255);
	pointer-events: none;
	z-index: 9999;
	transform: translate(-50%, -50%);
	transition: width 0.3s ease, height 0.3s ease;
	mix-blend-mode: difference;
}

#custom-cursor.hover {
	width: 20px;
	height: 20px;
}

#canvas-container {
	position: fixed;
	inset: 0;
	z-index: 0;
	overflow: hidden;
	width: 100%;
	height: 100%;

}

#canvas-container canvas {
	display: block;
	width: 100vw;
	height: 100vh;
	/* Background immagine dalla cartella assets */
  /* background-image: url('/src/assets/Background/Background.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat; */
}
