* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	cursor: none;
}

body {
	width: 100vw;
	height: 100vh;
	background: #ffffff;
	font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Helvetica Neue', Arial, sans-serif;
}

/* Custom cursor */
#custom-cursor {
	position: fixed;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: rgb(255, 255, 255);
	pointer-events: none;
	z-index: 9999;
	transform: translate(-50%, -50%);
	transition: width 0.3s ease, height 0.3s ease;
	mix-blend-mode: difference;
}

#custom-cursor.hover {
	width: 20px;
	height: 20px;
}

#canvas-container {
	position: fixed;
	inset: 0;
	z-index: 0;
	overflow: hidden;
	width: 100%;
	height: 100%;

}

#canvas-container canvas {
	display: block;
	width: 100vw;
	height: 100vh;
	/* Background immagine dalla cartella assets */
/* 	background-image: url('/src/assets/Background/Background.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat; */
}
